<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        Dashing.widget_base_dimensions = [604, 340]
        Dashing.numColumns = 5
    });
</script>

<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Build" data-view="Text" data-title="CSRA Build Status"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-csra-mvp-master" data-view="CircleCi" data-title="CSRA MVP"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-csra-app-master" data-view="CircleCi" data-title="CSRA APP"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Health" data-view="Text" data-title="CSRA App Health"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="csra-app-mock" data-view="ServerStatusSquares" data-title="CSRA MOCK"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="csra-app-stage" data-view="ServerStatusSquares" data-title="CSRA STAGE"></div>
    </li>
  </ul>

</div>
