<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Build" data-view="Text" data-title="CSRA CI Status"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-csra-mvp-master" data-view="CircleCi" data-title="CSRA MVP"></div>
    </li>

  </ul>
</div>
